<% provide(:title, "About") %>
<div class="about">
    
    <h2>ABOUT</h2>
    
    <div class="aboutinfo">
    <p>Currently, Hair Club offers over 10,000 products from the very best UK and International brands. From Hair care favourite’s to niche skincare, the range is influenced by products that our customers want and love.
Hair Club are continually introducing new brands, influenced by customer demand and new trends and ingredients.
Don’t forget to register for the Hair Club user about promotions, trends, offers and everything else that’s Essential Beauty.
</p>
</div>
    
</div>



