<% provide(:title, "Help") %>

<div class="about">
    
    <h2>HELP</h2>
    
<div class="aboutinfo">
    <p><center>Delivery & Shipping</center></p>
    <br>
    
    <b>Wheres is my order</b><br>
You can track your parcel using the link in the dispatch confirmation email or the email or text sent from the carrier, depending on the service chosen at time of placing your order.
Tracked
On average 5 - 7 working days after day of dispatch.
The Tracked option, provides you with a tracking link to viw the progress of your delivery.The parcel will be delivered to you by your local postal mail provider.Delivery will be attempted at the address provided.Should you not be in your parcel may be left with a neighbour, left in a safe place at the delivery address, delivery may be re - attempted on another day or you will be notified to collect from a local delivery office.If you have lost your email or it has been caught in spam, then
if you email by clicking here we will reply with the details of your last order tracking details and links.
Express
The delivery times vary by country.
This is a premium next working day delivery service with updates by email and mobile text alerts (if mobile number provided at the check out) which will inform you of your tracking details.You will receive an email dispatch confirmation from us when the parcel is sent(without the tracking details), and then you will receive an email later that day from the courier DPD including your tracking number and links.On the morning of delivery you will receive a further email and / or SMS text with the details of your delivery slot.You can track the progress of your parcel by following the tracking links in the updates provided.If you have lost your email or it has been caught in spam, then if you email by clicking here we will reply with the details of your last order tracking details and links.
<br><br>

<b>Free Saver</b><br>
On average 5 - 7 working days after day of dispatch.
We use a mixture of postal providers to deliver parcels on the saver option;
this service does not have full end to end tracking details.Delivery will be attempted at the address provided.Should you not be in your parcel may be left with a neighbour, left in a safe place at the delivery address, delivery may be re - attempted on another day or you will be notified to collect from a local delivery office.Although this service does not have full end to end tracking details, it may have some visibility.If you email by clicking here we will reply with the details of your last orders tracking details and links
if available.
<br><br>
Customers<br>
Please note sometimes delays in the receipt of your parcel can be due to customs clearances and checks.
All parcels are shipped from the UK to your chosen country of destination.
All international orders sent to countries outside the EU MAY be subject to import charges.
Beauty Bay accepts no responsibility for these, please check with your customs office before ordering if you are unsure as to whether this applies to your country.
<br><br>
<b>ORDERS</b><br>
<br>
•	Missing item<br>
If there is an item missing from your order, please report this to our customer services department by completing the Contact Form below and we will investigate the issue further for you.
If an item is missing, please check the parcel it has arrived in for any damage or any signs that this has been tampered with. Upon receipt of the parcel, if you see that there is any damage to the packaging or it appears to have been tampered with, please check the contents before signing for the parcel. If a parcel is left without you signing for it, please take photos of any damage.
Please ensure the item is not marked ‘to follow’ on your invoice (if this is the case, the item will be posted to you in a separate package).
Please also check that the item has not become caught within the package, as small items can sometimes become entangled in the inner paper of void fill packaging.
<br><br>
•	Delivery & Shipping<br>

What are the delivery timescales for my order? 
Delivery costs, timescales and availability vary by location. Full details for your country can be found in our shipping section. Our services within Europe include:
<br><br>
Saver<br>
We use a mixture of postal providers to deliver parcels on the saver option;
this service does not have full end to end tracking details.Delivery will be attempted at the address provided.Should you not be in your parcel may be left with a neighbour, left in a safe place at the delivery address, delivery may be re - attempted on another day or you will be notified to collect from a local delivery office.
Next Day
Next day orders placed before 2pm (BST) will be delivered the next day.  Our courier partners deliver Monday to Friday. We will email you tracking information once your parcel is dispatched.
<br><br>•	Order before 2pm (BST) for next day delivery*
<br>•	Deliveries are made Monday-Friday 
<br><br>This is a signed for service, if the driver is unable to deliver they will make 1 more attempt to deliver before returning your delivery to us.
This service is currently available in the below countries, however we are working hard to delivery to more places, so keep watching this space.
<br><br>•	Germany
<br>•	France
<br>•	Belgium
<br>•	Luxembourg
<br>•	Netherlands
<br>*excludes public holidays.<br><br>

•	Dangerous Goods Classifications<br>
Please note that due to changes within postal and airline regulations, certain items are now classified as dangerous goods(nail varnishes, aerosols and items with batteries for example) and may be subject to transportation restrictions.
These items can be shipped to the below countries, but may take 10 - 15 working days more than the times stated above. Andorra, Austria, Belarus, Belgium, Bosnia - Herzegovina, Bulgaria, Croatia, Czech Rep., Denmark, Estonia, Finland, France, Georgia, Germany, Greece, Hungary, Ireland, Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Moldova, Monaco, Netherlands, Norway, Poland, Portugal, Romania, Russia, San Marino, Slovakia, Slovenia, Spain, Sweden, Switzerland, Ukraine, UK.
If a product is not available for delivery to your country, you will be informed of this on the product page or within your basket.
For International Saver & International Tracked deliveries, please note that a missing package cannot be investigated further until 20 working days * have elapsed from day of dispatch.We ask that such time is allowed before contacting Customer Services and reporting your order missing due to postal regulations.
* Please note; working days do not include weekends or public holidays
All parcels are shipped from the UK to your chosen country of destination. All international orders sent to countries outside the EU may be subject to import charges.Hair Club accepts no responsibility for these, please check with your customs office before ordering if you are unsure as to whether this applies to your country.
We endeavour to deliver orders within stated timeframes, however, occasionally there may be unexpected delays during transit with the carriers and your local customs authority that are beyond our control, but, we will always try to resolve for you.
For International Saver & International Tracked deliveries, please note that a missing package cannot be investigated until 20 working days (excludes weekends and public holidays)* after the day of dispatch. We ask that such time is allowed before contacting Customer Services and reporting your order missing due to postal regulations.
<br><br>
•	Faulty Item<br>
Please report any faults with your item(s) to our customer service team by completing the Contact Us form below.
<br><br>A)	Please specify the item(s) affected and the fault with the item.
<br>B)	Attach images of the faulty item(s), if applicable, as this will help our customer service team resolve this for you without delay.<br><br>
Alternatively, you can send a Direct Message via our Facebook or Twitter (@hairclubhelp) and we will get back to you as soon as possible.
Please do not dispose of any item(s) or packaging until we have responded, as we may need to examine or investigate further.
<br><br>
• I would like to cancel my order<br>
Our aim is to process and pack your order as soon as possible, to get it on its way to you.
There is a very limited amount of time after an order has been placed, when we may be able to cancel your order, but this is not guaranteed.
If your order has been picked and packed in our warehouse, or if you have received a 'Your order has been despatched' email, then unfortunately we will not be able to cancel the order at that stage.
If you wish to cancel an order, contact us via the contact us form below, selecting 'Cancel my order' as the reason and we will do our best to action this for you.
Please also check that the item has not become caught within the package, as small items can sometimes become entangled in the inner paper of void fill packaging.
<br><br>

•	Wrong Item<br>
We apologise if there has been an error with your order and you have received an incorrect item.
Please report any instances of wrong items to our customer service team by completing the Contact Us below.
If you have already contacted us via this method, you will have received a reply to your inbox confirming your request has been received. Please reply to this email with the following:
<br><br>A)	Please specify the item(s) you should have received and the item(s) you have received in its place.
<br>B)	Attach images of the wrong item(s) as this will help our customer service team resolve this for you without delay.
Alternatively, you can send a Direct Message via our Facebook or Twitter (@hairclubhelp) with the above information and we will get back to you as soon as possible.
Please do not dispose of any item(s) or packaging until we have responded, as we may need to examine or investigate further.
<br><br>
<b>RETURN ITEM</b><br>
If for any reason you are not happy with your purchase, you may return any unopened and unused items to us within 14 days of receipt.
All packaging and/or cellophane wrapping and tamper resistant seals must be intact; otherwise the item will be considered unfit for re-sale and will not be accepted by our returns department.
To ensure we process your return and refund as quickly as possible, please follow the procedure below.
International Returns Procedure
We will then e-mail you with a Returns Authorisation Number.
<br><br>•	Goods must be in their original packaging with any seals intact and in an unused and re-saleable condition.
<br>•	Re-package the parcel using strong packaging and ensure it is sealed securely to avoid damage during transit. Please enclose your dispatch note/receipt within the parcel.
<br>•	Please pay the appropriate shipping costs and return the parcel to the address as detailed at www.hairclub.com/customer-services (Please return with your national postal service, as returns by courier will not be accepted).
<br>•	Request a proof of postage (Hair Club will not be liable for lost returns).
<br><br>


Any underpaid returns may not be delivered to us and therefore will not be processed.
Hair Club Ltd.
Returns Department
Box 002
DUBLIN 
M1 0BN
IRELAND
Please note, Hair Club will only reimburse the cost of the products and not any return postage or original shipping fees (if charged).

<br><br>

<b>PAYMENTS</b><br>
Hair Club will accept payment by the following credit and debit cards:
Visa, Visa Debit, Delta, MasterCard, Maestro, Switch, American Express, Visa Electron and Apple Pay.
All charges will be made in the currency clearly at the checkout before payment and on the order confirmation email.
If you have any questions or queries, please contact our Customer Service team on the below details, before placing an order
<br><br>

<b>PROMOTIONS DISCOUNTS</b>
<br>
Please see the main article using the below link, which is updated regularly.
Discounts and exclusions information.
<br><br>
</div>
    
</div>
    

