<% provide(:title, "Thanks") %>
<div class="about">
    
    <h2>Thank you.</h2>
    
    <div class="aboutinfo">
        You will shortly receive an e-mail containing all your information.
</p>
</div>
    
</div>
